body {
	background-color: #5d5c5c;
}

nav {
	background-color: #333;
	color: white;
}

h1, p {
	text-align: center;
}

.imatgeDescripcio {
	display: flex;
	justify-content: center;
	justify-items: center;

}

.imatgeDescripcio > img {
	width: 60%;
}

header {
	display: flex;
	flex-direction: row;
	gap: 200px;
	

}